<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-primary shadow-sm">
            <div style="margin-left: 15px;" class="navbar-brand aling-item-center d-flex">
                <i style="font-size:35px" routerLink="products" routerLinkActive="router-link-active"  class="fa-sharp fa-solid fa-shop"> &nbsp;
                </i>
                <strong style="font-size: 32px;">One Cell</strong>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar Producto">
                </div>
                <span class="fas fa-search search-icon"></span>
            </div>
            <button routerLink="cart" routerLinkActive="router-link-active"  class="btn btn-primary">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </header>
</body>
</html>
